# 웹 프레임워크
fastapi

# 실서비스용 웹 서버
gunicorn
uvicorn

# langchain
langchain_pinecone
langchain
langchain-openai
langchain-community

# Vector Store (Pinecone)
pinecone
sentence-transformers

# LLM 연동
openai

# 환경변수
python-dotenv